@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    font-family: "Inter", sans-serif;
}
body{
    margin: 4.5rem 14rem;
    background-color: hsl(36, 100%, 99%);
}
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 4vw;
    height: 5vh;
}
.nav-list{
    display: flex;
    list-style-type: none;
}
li{
    padding: 2rem;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color:hsl(236, 13%, 42%);
}
li:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 1rem;
}
.imagebox{
    grid-column: 1/3;
    grid-row: 1/2;
}

.image1{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.newbox{
    grid-column: 3;
    grid-row: 1/3;
    background-color: hsl(240, 100%, 5%);
    font-family: "Inter", sans-serif;
    padding: 2rem 2rem 0 2rem;
}

.orange{
    color: hsl(35, 77%, 62%);
    font-size: 1.5rem;
}

div .new-text{
    font-size: 3rem;
    margin: 0;
}

.white{
    color: hsl(36, 100%, 99%);
    font-size: 1.5rem;
}

.text{
    color:hsl(233, 8%, 79%);
    font-size: 1.2rem;
    line-height: 1.8;
}
.newbox div{
    padding: 8px;
}

.h1box{
    grid-row: 2;
}

.h1box h1{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 0;
}

.desc-box {
    grid-column: 2/3;
    grid-row: 2/3;
}
.description{
    font-family: "Inter", sans-serif;
    color: hsl(236, 13%, 42%);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8;
    margin: 0;
}

.button {
    background-color: black;
    color: hsl(36, 100%, 99%);
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    padding: 0 30px;
    letter-spacing: 5px;
    font-weight: bold;
}

.white, .button:hover{
    cursor:pointer;
}

.white:hover{
    color: hsl(35, 77%, 62%);
}

hr {
    background-color:hsl(233, 8%, 79%);
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2rem;
    margin-top: 3.5rem;
} 

.image-bottom{
    width: 6rem;
    height: 8rem;;
}

.h-tag{
    margin:0;
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
}

.articleTitle{
    font-size: 20px;
    color: hsl(240, 100%, 5%);
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    padding-top: 10px;
}

.articleTitle:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.description-bottom{
    font-size: 15px;
    color:hsl(236, 13%, 42%);
    white-space: nowrap;
}